[submodule "firmware/unicore-mx"]
	path = firmware/unicore-mx
	url = https://github.com/insane-adding-machines/unicore-mx.git
[submodule "firmware/libopencm3"]
	path = firmware/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
